<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.MapRolePrivilegeMapper" >
  <resultMap id="BaseResultMap" type="po.MapRolePrivilege" >
    <id column="map_role_privilege_id" property="mapRolePrivilegeId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="privilege_id" property="privilegeId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    map_role_privilege_id, role_id, privilege_id, is_deleted, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="po.MapRolePrivilegeKey" >
    select 
    <include refid="Base_Column_List" />
    from map_role_privilege
    where map_role_privilege_id = #{mapRolePrivilegeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="po.MapRolePrivilegeKey" >
    delete from map_role_privilege
    where map_role_privilege_id = #{mapRolePrivilegeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.MapRolePrivilege" >
    insert into map_role_privilege (map_role_privilege_id, role_id, privilege_id, 
      is_deleted, created_time, updated_time
      )
    values (#{mapRolePrivilegeId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{privilegeId,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=TINYINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.MapRolePrivilege" >
    insert into map_role_privilege
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mapRolePrivilegeId != null" >
        map_role_privilege_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="privilegeId != null" >
        privilege_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mapRolePrivilegeId != null" >
        #{mapRolePrivilegeId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.MapRolePrivilege" >
    update map_role_privilege
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null" >
        privilege_id = #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where map_role_privilege_id = #{mapRolePrivilegeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.MapRolePrivilege" >
    update map_role_privilege
    set role_id = #{roleId,jdbcType=INTEGER},
      privilege_id = #{privilegeId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where map_role_privilege_id = #{mapRolePrivilegeId,jdbcType=INTEGER}
  </update>
</mapper>