<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.PrivilegeMapper" >
  <resultMap id="BaseResultMap" type="po.Privilege" >
    <id column="privilege_id" property="privilegeId" jdbcType="INTEGER" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="privilege_name" property="privilegeName" jdbcType="VARCHAR" />
    <result column="privilege_code" property="privilegeCode" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    privilege_id, display_name, privilege_name, privilege_code, url, parent_id, is_deleted, 
    created_time, updated_time
  </sql>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="po.PrivilegeKey" >
    select 
    <include refid="Base_Column_List" />
    from privilege
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="po.PrivilegeKey" >
    delete from privilege
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.Privilege" >
    insert into privilege (privilege_id, display_name, privilege_name, 
      privilege_code, url, parent_id, 
      is_deleted, created_time, updated_time
      )
    values (#{privilegeId,jdbcType=INTEGER}, #{displayName,jdbcType=VARCHAR}, #{privilegeName,jdbcType=VARCHAR}, 
      #{privilegeCode,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Privilege" >
    insert into privilege
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="privilegeId != null" >
        privilege_id,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="privilegeName != null" >
        privilege_name,
      </if>
      <if test="privilegeCode != null" >
        privilege_code,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeName != null" >
        #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeCode != null" >
        #{privilegeCode,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.Privilege" >
    update privilege
    <set >
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeName != null" >
        privilege_name = #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeCode != null" >
        privilege_code = #{privilegeCode,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Privilege" >
    update privilege
    set display_name = #{displayName,jdbcType=VARCHAR},
      privilege_name = #{privilegeName,jdbcType=VARCHAR},
      privilege_code = #{privilegeCode,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </update> -->
</mapper>