<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.PrivilegeMapper" >
  <resultMap id="BaseResultMap" type="po.Privilege" >
    <id column="privilege_id" property="privilegeId" jdbcType="INTEGER" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="privilege_name" property="privilegeName" jdbcType="VARCHAR" />
    <result column="privilege_code" property="privilegeCode" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    privilege_id, display_name, privilege_name, privilege_code, url, parent_id, isdelete, 
    create_time, last_modified_time
  </sql>
  
  <select id="selectPrivilegeByParams" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	select 
    <include refid="Base_Column_List" />
	    from privilege
	    where isdelete = 0
	  <if test="privilegeId != null">
        and privilege_id = #{privilegeId}
      </if>
      <if test="displayName != null">
        and display_name LIKE CONCAT('%',#{displayName},'%') 
      </if>
      <if test="privilegeName != null">
        AND privilege_name = #{privilegeName}
      </if>
      <if test="privilegeCode != null"> 
        and privilege_code  = #{privilegeCode}
      </if>
      <if test="parentId != null"> 
        and parent_id  = #{parentId}
      </if>
      <if test="beginTime != null ">
          AND create_time > #{beginTime} 
      </if>
      <if test="endTime != null ">
          <![CDATA[AND create_time <  #{endTime} ]]>
      </if>
      <if test="sidx != null">
        order by ${sidx} ${sord}
      </if>
  </select>
  
  <update id="deletePrivilegeByIds" parameterType="java.util.List">
	    UPDATE privilege p SET p.ISDELETE = 1 WHERE p.privilege_id IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		</foreach>  
  </update>
  
</mapper>