<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="po.Role" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, display_name, role_name, role_code, isdelete, create_time, last_modified_time
  </sql>
  
  <select id="selectRoleByParams" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	select 
    <include refid="Base_Column_List" />
	    from role
	    where isdelete = 0
	  <if test="roleId != null">
        and role_id = #{roleId}
      </if>
      <if test="displayName != null">
        and display_name LIKE CONCAT('%',#{displayName},'%') 
      </if>
      <if test="roleName != null">
        AND role_name = #{roleName}
      </if>
      <if test="roleCode != null"> 
        and role_code  = #{roleCode}
      </if>
      <if test="beginTime != null ">
          AND create_time > #{beginTime} 
      </if>
      <if test="endTime != null ">
          <![CDATA[AND create_time <  #{endTime} ]]>
      </if>
      <if test="sidx != null">
        order by ${sidx} ${sord}
      </if>
  </select>
  
</mapper>